[submodule "Dalkom/external/imgui"]
	path = Dalkom/external/imgui
	url = https://github.com/ocornut/imgui
[submodule "Crystal/external/DirectXTex"]
	path = Crystal/external/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "Crystal/external/imgui"]
	path = Crystal/external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
